doctype html

head
	title Bulb Controller
	link(rel="stylesheet", href="https://bootswatch.com/4/lux/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
	//- link(type='text/javascript', href='/javascripts/homepage.js')
	script(src='/javascripts/homepage.js')
	

body(onload="loadControls()")
	div(style="align=center")
		table(id="controls")
		br
		button(onclick="submitRequest(action='start')") Start
		button(onclick="submitRequest(action='stop')") Stop
		textarea(id='colorlist')
