a {
  color: #00B7FF;
}

body {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

div {
  position: absolute;
  margin: 10px;
}

td {
  text-align: center;
}

table {
  width: 100%;
}

input[type=text], textarea {
  width: 50px;
  text-align: center;
  background-color: inherit;
  color: inherit;
  border: none;
}

input[type=button] {
  color: inherit;
}

iframe {
  color: inherit;
  background-color: gray;
}
