a {
  color: #00B7FF;
}

body {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  div, table, iframe {
    width: 100vw;
    max-width: 100vw;
  }

  
}
div {
  margin: 10px;
  display: inline;
}

td {
  text-align: left;
}

table, tr {
  border: 1px solid greenyellow;
  border-collapse: collapse;
}

input[type=text], textarea {
  width: 50px;
  text-align: center;
  background-color: black;
  color: greenyellow;
  border: none;
}

input[type=button] {
  color: inherit;
}

iframe {
  width: 200px;
  color: inherit;
  background-color: gray;
}
